<nav class="navbar navbar-default navbar-fixed-top nav-color" ng-controller="NavbarCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" data-ng-href="/#/map">Bacchus</a>
        </div>
        <ul class="nav navbar-nav">
            <li ng-class="{active: $route.current.currentTab == 'map'}"><a href="/#/map">Map</a></li>
            <li ng-class="{active: $route.current.currentTab == 'alerts'}"><a data-ng-href="/#/alerts">Alerts</a></li>
            <li ng-class="{active: $route.current.currentTab == 'systems'}"><a data-ng-href="/#/systems">Systems</a></li>
            <li ng-class="{active: $route.current.currentTab == 'admin'}" data-ng-if="isAdmin"><a data-ng-href="/#/admin">Admin</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <!-- TODO: Add own account button or something like settings there -->
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>