<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 sidebar-list no-pad">
            Active Alerts
            <ul class="sidebar">
                <li class="alert" ng-repeat="alert in activeAlerts">
                    <h3><i class="fa fa-bell"></i> {{alert.title}}</h3>
                    <p>{{alert.raisedBy}}<br/>
                    {{alert.time}} exp: {{alert.expiry}}</p>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <h1>Alerts</h1>
            <form ng-submit="raise()">
                <div ng-repeat="colour in alerts">
                    <label for="{{colour.colour}}">{{colour.colour}}</label>
                    <input type="radio" name="alertType" id="{{colour.colour}}" value="{{colour.colour}}" ng-model="alert.colour"/>
                </div>
                <label for="alertTitle">Title</label><input id="alertTitle" type="text" ng-model="alert.title"><br/>
                <label for="alertBody">Alert Body</label><input id="alertBody" type="textarea" ng-model="alert.body"><br/>
                <label for="expiry">Expires</label><input id="expiry" type="textarea" ng-model="alert.expiry"><br/>
                <input type="submit">
            </form>
        </div>
    </div>
</div>