<div>
    <form>
        <label for="username">Username:</label><input id="username" type="text" placeholder="username">
        <label for="password">Password:</label><input id="password" type="password" placeholder="password">
    </form>
</div>