<div class="container-fluid">

    <div class="row">
        <div class="col-md-3 sidebar-list no-pad">
            <div id="searchbox">
                <label for="search" class="searchbox-label">Search</label>
                    <input class="form-control search-input" id="search" type="search" placeholder="Search for a system" ng-model="searchBox">
            </div>
            <div class="section-heading"><p>Systems</p></div>
            <ul class="sidebar">
                <li ng-class="{active: system.isActive}" ng-repeat="system in systems | orderBy:name | filter:searchBox | limitTo: 30">
                    <a ng-click="selectSystem(system.id)">
                            <i class="fa fa-cloud" ng-class="{'high': system.sec >= 0.5, 'low': system.sec >= 0.0 && system.sec < 0.5, 'null': system.sec < 0}"></i>
                             &nbsp;{{system.name}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <div id="details" class="system-details">
                <div class="row">
                    <div class="header">
                        <h3>
                            {{getSystemName()}}
                        </h3>
                        <button class="btn btn-default">&lt;&lt;</button><button class="btn btn-default">&gt;&gt;</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="systemInfo">
                            <h1>Info</h1>
                            <p>ID: {{system.id}}</p>
                            <p>Sec: {{system.sec}}</p>
                            <p>Last Visited: {{system.lastVisited}}</p>
                            <p>Notes: {{system.notes}}</p><!-- Make this click editable -->
                        </div>

                        <button class="btn btn-default">Set Autopilot</button>

                        <div id="distances">
                            <h1>Distances</h1>
                            <ul>
                                <li ng-repeat="distance in distances">{{distance}}</li>
                            </ul>
                        </div>

                        <div id="apiData" ng-if="apiData">
                            <h1>Api Data</h1>
                            <p>Jumps: {{jumps}}</p>
                            <p>Kills: {{kills}}</p>
                            <p>Rats: {{rats}} </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="anoms" ng-if="anomalies.length > 0">
                            <h1>Anomalies</h1>
                            <ul>
                                <li ng-repeat="anomaly in anomalies">{{anomaly}}</li>
                            </ul>
                        </div>

                        <div id="sigs" ng-if="signatures.length > 0">
                            <h1>Signatures</h1>
                            <ul>
                                <li ng-repeat="signature in signatures">{{signature}}</li>
                            </ul>
                        </div>

                        <div id="links">
                            <h2>Links</h2>
                            <a>zkillboard</a>
                            <a>wormhol.es</a>
                            <a>dotlan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>