body {
    padding-top: 50px;
    font-family: Ubuntu, sans-serif;
}

.no-pad {
    padding-left: 0!important;
    padding-right: 0!important;
}

.navbar-default .navbar-nav > li > a{
    color: white;
}

.nav-color{
    color: white;
    background-color: #367FA9;
    border-bottom: none;
}