.sidebar {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar > li {
    position: relative;
    margin: 0;
    padding: 0;
}
.sidebar > li > a {
    padding: 12px 5px 12px 15px;
    display: block;
    text-decoration: none;
    color: white;
}

.sidebar > li:hover {
    background-color: #1B2529;
    cursor: pointer;
    border-left: 2px solid cornflowerblue;
}

.sidebar > li:active {
    background-color: lightgrey;
}

.sidebar-list {
    border: 5px #0000cc;
    background-color: #222D32;
    padding-bottom: 100%;
    margin-bottom: -100%;
}