.system-details {
    padding: 15px;
}

.high{
    color: @high-sec;
}

.low{
    color: @low-sec;
}

.null{
    color: @null-sec;
}

.searchbox {
    background-color: #1B2529;
}

.searchbox-label {
    margin-left: 5%;
    margin-top: 15px;
    color: @light-grey-blue;
}

.section-heading{
    padding: 5px;
    background-color: #1A2226;
    color: @light-grey-blue;
}

.section-heading p {
    margin: 5px 5%;

}

.search-input {
    margin: 15px 5%;
    width: 90%;
    background-color: #374850;
}

.navbar-default .navbar-brand {
    color: white;
}

.header{
    padding-left: 15px;
}
